Flask==3.0.3
Flask-CORS
python-dotenv
langchain
langchain-google-genai
langchain-community
langchain-text-splitters
faiss-cpu
PyPDF2
numpy
pandas
scikit-learn
xgboost
shap
joblib
requests
beautifulsoup4
python-whois
pefile
gunicorn
